<div id="joinGame">
  <h2>JOIN A PRIVATE ROOM</h2>
  <form class="mx-5" action="/lobby/joinPrivateGame" method="post">
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">ENTER JOIN CODE</span>
      <input type="text" name="code" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <input class="btn btn-primary" type="submit" value="JOIN" />
    </div>
  </form>

  <h2>LIST OF PUBLIC GAMES</h2>
  <div class="my-games">
    <% games.slice().reverse().forEach(function(game) { %>
    <% if (game.isPrivate == false) { %>
    <div class="my-game">
      <p><b>game id:</b><br><%= game.id %></p>
      <p><b>seats:</b><br><%= game.number %>/2</p>
      <p><b>owner:</b><br><i><%= game.username %></i></p>
      <p><b>created</b><br><%= game.createdAt %></p>
      <form class="mx-1" action="/lobby/join/<%= game.id %>" method="post">
        <input class="btn btn-success" type="submit" value="join" />
      </form>
    </div>
    <% } %>
    <% }); %>
  </div>
</div>
